<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="email" class="form-control" id="username" placeholder="">
            </div>

            <div class="mb-3">
                <label for="pass" class="form-label">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="">
            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-primary">LOGIN</button>
            </div>
        </div>
    </div>
</div>